<div class="create-company mt-4">
  <form method="POST" action="/companies/store">
    <div class="form-group mb-2">
      <label for="companyName">Company Name</label>
      <input name="name" class="form-control" id="companyName" placeholder="Enter your company name">
    </div>
    <div class="form-group mb-2">
      <label for="website">Website</label>
      <input name="website" class="form-control" id="website" placeholder="Website">
    </div>
    <div class="form-group mb-2">
      <label for="address">Address</label>
      <input name="address" class="form-control" id="address" placeholder="Address">
    </div>
    <div class="form-group mb-4">
      <label for="logo">Logo</label>
      <input name="logo" type="file" class="form-control-file" id="logo" placeholder="Logo">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>